<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Barbot</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
  <link rel="stylesheet" href="css/login_style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- <h2>Weekly Coding Challenge #1: Sign in/up Form</h2> -->
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<div class="form">
			<img src="logo.png" style="height: 10%;"/>
			<h1>Create Account</h1>
			<span></span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" id="email_class" />
			<input type="password" placeholder="Password" id="password_class"/>
			<button class="directbutton" onclick="signup()">Sign Up</button>
		</div>
	</div>
	<div class="form-container sign-in-container">
		<div class="form">
			<img src="logo.png" style="height: 10%;"/>
			<h1 style="color: #fb2712;">Barbot</h1>
			<br>
			<span></span>
			<input placeholder="User Name" id="email_field" />
			<!-- <input type="password" placeholder="Password" id="password_field" /> -->

			<select id="password_field" style=" background-color: #eee; border: none; padding: 12px 15px; margin: 8px 0; width: 100%;">
			<option value="Drink1">Drink1</option>
			<option value="Drink2">Drink2</option>
			<option value="Drink3">Drink3</option>
			<option value="Drink4">Drink3</option>
			<option value="Custom">Custom</option>
			<!-- Add more options as needed -->
			</select>
			<br>
			<br>
			<button class="directbutton" onclick="login()">Order Now</button>
		</div>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back!</h1>
				<p>To keep connected with us please login with your personal info</p>
				<button class="ghost directbutton" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Please Note!</h1>
				<p>We follow a first come first serve policy and ordering doesn't mean that your drink will be processed first.</p>
				<button class="ghost directbutton" id="signUp" href="/contact">Contact Us</button>
			</div>
		</div>
	</div>
</div>

<!-- <footer>
	<p>
		Created with <i class="fa fa-heart"></i> by
		<a target="_blank" href="https://florin-pop.com">Florin Pop</a>
		- Read how I created this and how you can join the challenge
		<a target="_blank" href="https://www.florin-pop.com/blog/2019/03/double-slider-sign-in-up-form/">here</a>.
	</p>
</footer> -->
<!-- partial -->
  <script  src="javascript_frontend/login_design_script.js"></script>
  <script src="javascript_frontend/loginjavascript.js"></script>



</body>
</html>
