.frame {
  height: 100vh;
  width: 100vw;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -2;
  /* margin: 5vh 5vw; */
  background-color: #eee;
  background-position: center;
  background-size: cover;
  /* background-image:url("/img/picture1.png"); */
  animation: image 10s infinite alternate;
}

@keyframes image {
  0% {
    background-image: url("/img/Picture1.png");
  } 
  25% {
    background-image: url("/img/Picture2.png");
  }
  50% {
    background-image: url("/img/Picture3.png");
  }
  75% {
    background-image: url("/img/Picture4.png");
  }
  100% {
    background-image: url("/img/Picture5.png");
  }
  /* 0% {
    background-image: url('https://unsplash.it/600/600');
  }
  100% {
    background-image: url('https://unsplash.it/601/601');
  } */
}
